# Ignore node_modules directory


# Ignore files with .log extension
*.log

# Ignore .env files
.env

testdata/*

*.pth
.zip
Cityscapes/*
KittiDaten/*
CityscapesDaten/*

Daten2/overlayed/*.png

*.zip
*.pkl
*.DS_Store

*.onnx
*pyc

Mapillary_Vistas/*


FINAL_DATEN/calibration_cache_Mapillary_small.h5
Kalibr_Cache/cache_file.h5
